body{
	height: 100%;
	background: url(background/3.png);
	repeat;
	color: white;
	font-family: Arial;
	line-height: 1.3;
}

html { 
 position:relative; 
 min-height:100%;
}



/*div{
	border: 2px solid #4682b4;
}*/

#body{
	margin: 0 auto;
	width: 720px;
	/*min-height: 615px;*/
	font-size: 11pt;
	padding-bottom: 150px;
}

#table{
	display:table;
	width: 720px;
}

#foto{
	margin-top: 25px;
	width: 175px;
	float: left;
	padding: 3px;
}

#img{
	width: 100%;
}

span{
	font-size: 14pt;
}

#basic{
	/*text-align: center;*/
	/*min-height: 300px;
	min-width: 400px;*/
	float: left;
	padding-left: 25px;
}

#languages{
	margin-top: 15px;
	font-size: 9pt;
	line-height: 0.7;
	text-align: right;
	float: right;	
}

#rus{
	font-size: 9pt;
}

#eng{
	font-size: 9pt;
}

#clear{
	color: white;
	font-size: 9pt;
}

span{
	color: #3CB371;
	font-weight: 800;
}

a{
	text-decoration: none;
	color: inherit;
}

a:active{
	color: #4682b4;
}

.social_img{
	width: 24px;
}

.social_img:hover{
	transform: rotate(-10deg) scale(1.5);
}

.spoilerbutton {
	margin-left:auto;
    margin-right:auto;
    display:block;
    background: #3CB371;
	border-radius: 5px;
	width:200px;    
}

.spoiler {
    overflow:hidden;
}

.spoiler > div {
    transition: margin 0.2s ease;
}
.spoilerbutton[value="Показать доп. информацию"] + .spoiler > div {
    margin-top:-200%;
}
.spoilerbutton[value="Скрыть доп. информацию"] + .spoiler {
    padding:5px;
}

/* for eng. ver.*/

.spoilerbutton_en {
	margin-left:auto;
    margin-right:auto;
    display:block;
    background: #3CB371;
	border-radius: 5px;
	width:200px;    
}

.spoiler_en {
    overflow:hidden;
}

.spoiler_en > div {
    transition: margin 0.2s ease;
}
.spoilerbutton_en[value="Show more information"] + .spoiler_en > div {
    margin-top:-200%;
}
.spoilerbutton_en[value="Hide additional information"] + .spoiler_en {
    padding:5px;
}

/*end*/

#footer{
	position: absolute;
 	bottom: 0;
	font-size: 14pt;
	color: #3CB371;
	min-height: 75px;
	text-align: center;
	width: 720px;
	left:50%;
	margin-left:-360px;
}

